body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    background-image: url(../images/bg-demo.jpg);
}
a, button {
    transition: all .2s linear;
    color: #4240bf;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: #9BCA38;
    text-decoration: none;
}
h2 {
    margin-bottom: 30px;
}
#button-up {
    display: none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    width: 67px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url(../images/scrolltop.png) no-repeat 7px 11px transparent;
    background-size: 100%;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor: pointer;
    z-index: 9;
}
#button-up span {
    display: block;
    width: 56px;
    height: 66px;
}
.logo-page {
    width: 200px;
}
.logo-page img {
    width: 100%;
}
.main__header__top {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.main__header__top__col-date {
    display: flex;
    font-weight: bold;
}
.btn-header {
    background-color: #4240bf;
    color: #fff;
    font-weight: bold;
    border: 2px solid #4240bf;
    border-radius: 4px;
    padding: 10px 20px;
}
.btn-header:hover {
    background-color: transparent;
    color: #4240bf;
}
.btn-header i {
    margin-right: 10px;
}
.main__header__email span {
    display: block;
}
.main__header__email {
    margin-right: 20px;
}
.select__list {
    display: block;
    padding: 0;
    border: none;
    color: #4240bf;
    transition: all .2s linear;
    cursor: pointer;
    position: relative;
}
.select__list option::before {
    content: "\f2c1";
    color: #4240bf;
    font-family: FontAwesome;
}
.select__list:hover {
    color: #9BCA38;
}
.menu-line-menu {
    background-color: #4240bf;
    color: #fff;
    font-weight: bold;
}
.navbar {
    position: relative;
    min-height: auto;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #9BCA38;
}
.navbar-collapse {
    padding: 0;
}
.modal-content {
    background-color: #1F1F29;
    color: #fff;
}
.owl-feedback-form input, .owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #fff;
}
button.close {
    font-size: 26px;
    z-index: 1;
    position: relative;
    right: 15px;
    top: 7px;
    color: #fff;
    opacity: 1;
}
.banner-main {
    height: 520px;
    background: url(../images/bg-top.jpg) 50% 50% no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}
.banner-main .banner__desc h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    color: #fff;
    padding: 0 0 20px 0;
    margin: 0;
}
.banner-main .banner__desc .banner__text {
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    padding-bottom: 50px;
}
.banner-main .banner__desc {
    max-width: 650px;
    padding: 80px 0 0 0;
}
.banner__desc .btn-header:hover, .modal-body .btn-header:hover {
    color: #fff;
    border-color: #fff;
}
.select__list:focus-visible {
    border: none;
}
.with_dropdown {
    position: relative;
}
.with_dropdown .dropdown {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    min-width: 175px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    z-index: 2;
}
.top-block-item .phone-block .dropdown {
    top: auto;
    left: 0;
    right: 0;
}
.with_dropdown:hover .dropdown {
    opacity: 1;
    visibility: visible;
}
.with_dropdown .dropdown>.wrap {
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
}
.top-block-item .phone-block .dropdown>.wrap {
    margin-top: 10px;
}
.with_dropdown .more_phone a {
    padding: 11px 8px 11px 10px;
    min-height: 51px;
}
.with_dropdown .more_phone span {
    padding: 11px 8px 11px 10px;
}
.advantages-block-flex {
    display: flex;
    margin: 40px 0;
    justify-content: space-between;
}
.advantages-block-item {
    display: flex;
    align-items: baseline;
    width: 31%;
}
.advantages-picture {
    margin-right: 10px;
    transition: 1.5s ease-in-out;
}
.advantages-block-item:hover .advantages-picture{
    filter: hue-rotate(270deg);
}
.with_dropdown span {
    display: block;
    font-weight: normal;
    font-size: 14px;
}
.equipment-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
}
.equipment-flex img {
    width: 100%;
}
.equipment-flex-item {
    width: 33%;
    position: relative;
    margin-bottom: 10px;
}
.overlay-equipment {
    background-color: rgb(12%, 12%, 16%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .5s ease-in-out;
}
.equipment-text-block {
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 25px;
    z-index: 1;
    color: #fff;
}
.equipment-flex-item:hover .overlay-equipment, .range-application-item:hover .overlay-equipment {
    background-color: rgb(12%, 12%, 16%, 0.1);
}
.text-center-block {
    text-align: center;
}
.range-application-item {
    position: relative;
    flex-grow: 1;
}
.range-application-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
}
.range-application-item img {
    width: 100%;
}
.range-application-item:nth-child(1), .range-application-item:nth-child(2), .range-application-item:nth-child(3) {
    width: 33%;
}
.range-application-item:nth-child(4), .range-application-item:nth-child(5) {
    width: 48%;
}
.slogan-page-style {
    padding:10px;
    width:100%;
    height:100px;
    margin:0 auto;
    text-align:center;
    position:relative;
    font-weight: bold;
}
.slogan-page-style .slogan-page:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100px;
        background:#4240bf;
        top: -10%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
.slogan-page-style .slogan-page:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100px;
        background:#4240bf;
        top: 50%;
        margin: 0 auto;
        left: 0;
        right: 0;
}
.background-image-block {
    background-image: url("../images/stroy.png");
    background-attachment: fixed;
    background-size: 100%;
    padding: 40px;
    margin-bottom: 40px;
    position: relative;
}
.background-image-block p {
    position: relative;
    color: #fff;
    z-index: 1;
}
.image-text-block {
    display: flex;
    justify-content: space-between;
}
.image-flex-block {
    width: 49%;
}
.image-flex-block img {
    width: 100%;
}
.image-flex-text {
    width: 49%;
}
.image-text-block {
    margin-bottom: 40px;
}
.footer-block {
    border-top: 5px solid #4240bf;
    margin-top: 40px;
}
.footer-flex-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.footer-flex-block a {
    display: block;
    margin-bottom: 10px;
}
.footer-logo img {
    width: 280px;
}
.social-block {
    display: flex;
    margin-top: 10px;
}
.social-block i {
    margin-right: 15px;
}
.footer-address-item i {
    font-size: 22px;
}
.footer-address {
    width: 30%;
}
.footer-copyright {
    text-align: center;
}
.footer-copyright p {
    font-size: 12px;
}
.services-links a {
    color: #fff;
    border-bottom: 1px solid transparent;
}
.services-links a:hover {
    border-bottom: 1px solid #fff;
}
.demo-box__desc__subtitle {
    color: #4240bf;
    font-weight: bold;
    margin: 20px 0;
}
.background-image-block ul {
    color: #fff;
    z-index: 1;
    position: relative;
}
.owl-carousel {
    margin-bottom: 40px;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #4240bf;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #4240bf;
    border-radius: 10em;
    display: inline-block;
    margin: 10px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dot.active {
    background-color: #fff;
    border: 2px solid #4240bf;
    transform: scale(1.5);
}
.video-project-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.video-project-item {
    width: 49%;
    margin-bottom: 20px;
}
@media (max-width: 1199px) {
    .owl-next {
        right: 3%;
    }
    .owl-prev {
        left: 3%;
    }
}

@media (max-width: 991px) {
    .slogan-page-style .slogan-page:before {
        top: 75%;
    }
    .main__header__top {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .logo-page {
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .advantages-block-item {
        display: block;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .slogan-page-style .slogan-page::before, .slogan-page-style .slogan-page::after {
        background: transparent;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .image-text-block {
        flex-direction: column;
    }
    .image-flex-block {
        margin-bottom: 20px;
        width: 100%;
    }
    .image-flex-text {
        width: 100%;
    }
    .footer-flex-block {
        flex-wrap: wrap;
    }
    .footer-address {
        width: auto;
    }
    .banner-main .banner__desc h1 {
        line-height: 1;
    }
    .banner-main .banner__desc {
        padding: 30px 0 0 0;
    }
    .banner-main .banner__desc .banner__text {
        padding-bottom: 30px;
        line-height: 25px;
    }
    .video-project-item {
        width: 100%;
    }
}
@media(max-width: 500px) {
    .advantages-block-flex {
        flex-wrap: wrap;
    }
    .advantages-block-item {
        width: 100%;
    }
    .advantages-block-item {
        display: flex;
    }
    .equipment-flex-item {
        width: 49%;
    }
    .range-application-item:nth-child(1), .range-application-item:nth-child(2), .range-application-item:nth-child(3) {
        width: 100%;
    }
    .banner-main .banner__desc h1 {
        font-size: 30px;
    }
    .main__header__top__col-date {
        flex-wrap: wrap;
    }
    .main__header__top__col-date {
        margin-bottom: 20px;
    }
    .range-application-flex {
        margin: 20px 0;
    }
    .slogan-page-style {
        margin-bottom: 30px;
    }
    .background-image-block {
        padding: 20px;
    }
    .logo-page {
        width: 100%;
    }
}