body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}
a, button {
    transition: all .2s linear;
    color: #4240bf;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: #9BCA38;
    text-decoration: none;
}

#button-up {
    display: none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    width: 67px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url(../images/scrolltop.png) no-repeat 7px 11px transparent;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor: pointer;
    z-index: 9;
}
#button-up span {
    display: block;
    width: 56px;
    height: 66px;
}
.logo-page {
    width: 200px;
}
.logo-page img {
    width: 100%;
}
.main__header__top {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.main__header__top__col-date {
    display: flex;
    font-weight: bold;
}
.btn-header {
    background-color: #4240bf;
    color: #fff;
    font-weight: bold;
    border: 2px solid #4240bf;
    border-radius: 4px;
    padding: 10px 20px;
}
.btn-header:hover {
    background-color: transparent;
    color: #4240bf;
}
.btn-header i {
    margin-right: 10px;
}
.main__header__email span {
    display: block;
}
.main__header__email {
    margin-right: 20px;
}
.select__list {
    display: block;
    padding: 0;
    border: none;
    color: #4240bf;
    transition: all .2s linear;
    cursor: pointer;
    position: relative;
}
.select__list option::before {
    content: "\f2c1";
    color: #4240bf;
    font-family: FontAwesome;
}
.select__list:hover {
    color: #9BCA38;
}
.menu-line-menu {
    background-color: #4240bf;
    color: #fff;
    font-weight: bold;
}
.navbar {
    position: relative;
    min-height: auto;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #9BCA38;
}
.navbar-collapse {
    padding: 0;
}
.modal-content {
    background-color: #1F1F29;
    color: #fff;
}
.owl-feedback-form input, .owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #fff;
}
button.close {
    font-size: 26px;
    z-index: 1;
    position: relative;
    right: 15px;
    top: 7px;
    color: #fff;
    opacity: 1;
}
.banner-main {
    height: 520px;
    background: url(../images/bg-top.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.banner-main .banner__desc h1 {
    font-weight: bold;
    font-size: 52px;
    line-height: 58px;
    color: #fff;
    padding: 0 0 20px 0;
    margin: 0;
}
.banner-main .banner__desc .banner__text {
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    padding-bottom: 50px;
}
.banner-main .banner__desc {
    max-width: 650px;
    padding: 90px 0 0 0;
}
.banner__desc .btn-header:hover, .modal-body .btn-header:hover {
    color: #fff;
    border-color: #fff;
}
.select__list:focus-visible {
    border: none;
}
.with_dropdown {
    position: relative;
}
.with_dropdown .dropdown {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    min-width: 175px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    z-index: 2;
}
.top-block-item .phone-block .dropdown {
    top: auto;
    left: 0;
    right: 0;
}
.with_dropdown:hover .dropdown {
    opacity: 1;
    visibility: visible;
}
.with_dropdown .dropdown>.wrap {
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
}
.top-block-item .phone-block .dropdown>.wrap {
    margin-top: 10px;
}
.with_dropdown .more_phone a {
    padding: 11px 8px 11px 10px;
    min-height: 51px;
}
.with_dropdown .more_phone span {
    padding: 11px 8px 11px 10px;
}
.advantages-block-flex {
    display: flex;
    margin: 40px 0;
    justify-content: space-between;
}
.advantages-block-item {
    display: flex;
    align-items: baseline;
    width: 31%;
}
.advantages-picture {
    margin-right: 10px;
    transition: 1.5s ease-in-out;
}
.advantages-block-item:hover .advantages-picture{
    filter: hue-rotate(270deg);
}
.with_dropdown span {
    display: block;
    font-weight: normal;
    font-size: 14px;
}
@media (max-width: 991px) {
    
}
@media (max-width: 767px) {
    
}
@media(max-width: 500px) {
    
}